* {
    padding: 0px;
    margin: 0 auto;
}

body {
    background: url(./images/Surface-Pro-8-1.png);
}

header .hotel {
    width: 100%;
}

.hotel-c {
    background: rgb(82, 79, 79);
    padding: 10px 10px;
}

.text-hotel {
    display: flex;
}

.text-hotel p.textaa {
    margin-left: 60px;
}

.text-hotel p.textaa {
    border-right: 6px solid rgb(226, 114, 175);
    font-size: 50px;
    color: rgb(226, 114, 175);
}

.text-hotel .textw {
    margin-right: 690px;
}

.text-hotel p.textw {
    font-size: 47px;
    color: white;
}

main .rus {
    width: 100%;
}

.russ {
    max-width: 1140px;
}

.rus-right {
    display: flex;
}

.rus-img {
    margin-left: 15px;
    margin-top: 12px;
}

.rus-img img {
    padding-bottom: 3px;
    border-bottom: 5px solid #bf9e27;
    width: 580px;
    height: 450px;
}

.rus-p {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 130px;
}

.rus-p1 {
    padding-bottom: 20px;
    margin-left: -15px;
}

.rus-p1 p {
    color: #bf9e27;
    font-size: 50px;
}

.rus-p2 {
    margin-top: 10px;
    margin-left: 10px;
}

.rus-p2 p {
    font-size: 30px;
    padding-bottom: 5px;
}

.rus-active2 a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: #4b4b4b;
    margin-left: 12px;
}

.rus-active2 a:hover {
    color:  rgb(226, 114, 175);;
}

.rus-p3 {
    margin-left: 10px;
}

.rus-p3 p {
    font-size: 30px;
    padding-bottom: 2px;
}

.rus-active3 a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: #4b4b4b;
    margin-left: 10px;
}

.rus-active3 a:hover {
    color:  rgb(226, 114, 175);;
}

.rus-p4 {
    margin-left: 10px;
}

.rus-p4 p {
    font-size: 30px;
    padding-bottom: 3px;
}

.rus-active4 a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: #4b4b4b;
    margin-left: 10px;
}

.rus-active4 a:hover {
    color:  rgb(226, 114, 175);;
}

.rus-p5 {
    margin-left: 10px;
}

.rus-p5 p {
    font-size: 30px;
    padding-bottom: 3px;
}

.rus-active5, .rus-active4, .rus-active3, .rus-active2 {
    padding-bottom: 25px;
    border-bottom: 3px solid #bf9e27;
}

.rus-active5 a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: #4b4b4b;
    margin-left: 10px;
}

.rus-active5 a:hover {
    color:  rgb(226, 114, 175);;
}

.messenger {
    display: inline-flex;
    gap: 70px;
    margin-left: 60px;
    margin-top: 40px;
}

.mes1 a {
    border-radius: 6px;
    padding: 8px 30px;
    border: 2px solid #0f0fc3;
    background:  #0f0fc3;
    text-decoration: none;
    color: #ffff;
    font-size: 30px;
    font-weight: 700px;
}

.mes2 a {
    border-radius: 6px;
    padding: 8px 30px;
    border: 2px solid #228B22;
    background:  #228B22;
    text-decoration: none;
    color: #ffff;
    font-size: 30px;
    font-weight: 700px;
}